section {
  padding: 15px;

  > form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;

    > .control {
      display: flex;
      gap: 5px;

      > label {
      }
      > input {
      }
    }
  }
}
