<section>
  <h2>Form</h2>
  <form [formGroup]="form">
    <!-- "Name" & "Last Name" are normal inputs just for reference -->
    <!-- Name -->
    <div class="control">
      <label for="name">Name</label>
      <input type="text" id="name" formControlName="name" />
    </div>

    <!-- Last Name -->
    <div class="control">
      <label for="last-name">Last Name</label>
      <input type="text" id="last-name" formControlName="lastName" />
    </div>

    <!-- Without Control Value Accessor -->
    <!-- There is not way we can link formControlName="withoutAccessor" to the input inside the Component;
    in fact, the console is telling us there is no value accessor for form control -->
    <div class="control">
      <cvad-input-without-control-value-accessor
        formControlName="withoutAccessor"
      ></cvad-input-without-control-value-accessor>
    </div>

    <!-- With Control Value Accessor -->
    <div class="control">
      <cvad-input-with-control-value-accessor
        formControlName="withAccessor"
      ></cvad-input-with-control-value-accessor>
    </div>

    <!-- With Control Value Accessor & Generic for reusability -->
    <div class="control">
      <cvad-input-with-awesome-control-value-accessor></cvad-input-with-awesome-control-value-accessor>
    </div>
  </form>

  <article>
    <pre>{{ form.value | json }}</pre>
  </article>
</section>
