/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
  margin: 0;
  font-family: sans-serif;

  > body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > header {
      text-transform: uppercase;
    }

    > main {
      flex-grow: 1;
    }

    > footer {
      text-align: center;
    }
  }
}
